<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">

    <!-- Angular controller JS-->
    <script src="/static/js/angular/angular.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.min.css">
    <script src="/static/js/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- notiflix -->
    <link rel="shortcut icon" href="/static/css/notiflix/notiflix.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/custom.css">

  </head>
  {% block head %} {% endblock %}

<body ng-app="COMMON" >

{% block body %} {% endblock %}


   <script src="/static/js/jquery/jquery.min.js"></script>

   <!-- notiflix-->
   <script src="/static/js/notiflix/notiflix-aio-2.7.0.min.js"></script>
   <!-- notiflix END -->

 </body>
</html>
